{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>教师首页</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/teach_index.css' %}">
</head>
<body>
    <div class="page-container">
        <h1 class="page-title">欢迎使用教务管理系统</h1>
        <p class="page-title">{{ username }}</p>
        <nav class="menu">
            <a href={% url 'teach_courselist' %}?tch_id={{ tch_id }} class="menu-item" title="查看课表">
                <span class="material-icons">event</span>
                <span class="menu-item-label">查看课表</span>
            </a>
            <a href={% url 'teach_courseadapt' %}?tch_id={{ tch_id }} class="menu-item" title="调课申请">
                <span class="material-icons">edit_calendar</span>
                <span class="menu-item-label">调课申请</span>
            </a>
            <a href={% url 'teach_pushgrades' %}?tch_id={{ tch_id }} class="menu-item" title="提交成绩">
                <span class="material-icons">assignment_turned_in</span>
                <span class="menu-item-label">提交成绩</span>
            </a>
            <a href={% url 'teach_waiverreview' %}?tch_id={{ tch_id }} class="menu-item" title="审核免听">
                <span class="material-icons">how_to_reg</span>
                <span class="menu-item-label">免听审核</span>
            </a>
        </nav>
    </div>
</body>
</html>