<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员部分 - 学生信息导入</title>
</head>
<body>
<div class="container">
  <form>
    <div class="field">
      <input type="text" id="firstName" name="firstNameTextField">
      <label for="firstName">First Name</label>
        
    </div>
    <div class="field">
      <input type="text" id="lastName" name="lastNameTextField">
      <label for="lastName">Last Name</label>
    </div>
    <div class="field">
      <input type="text" id="email" name="emailTextField">
      <label for="email">Email</label>
    </div>
    <button>Start</button>
  </form>
</div>
</body>
</html>